body {
    background-color: #F0E5CF;
}

.head {
    display: flex;
    justify-content: center;
    color: #4B6587;
    font-family: Times, Times New Roman, serif;
}

.quiz {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
}

#question {
    font-size: larger;
    padding-bottom: 7%;

}

#start-btn {
    border-style: none;
    background-color:#F0E5CF;
    color: #4B6587;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    font-family: Times, Times New Roman, serif;
}

.time {
      text-align: right;

}

#answers {
    display: inline;
    justify-content: space-around;
}

.answer-btn {
    background-color: #F7F6F2;
    font-size: large;
    cursor: pointer;
    font-family: Times, Times New Roman, serif;
    border-radius: 13%;
    display: flex;
    justify-content: space-between;
    
}

#answer-a, #answer-b, #answer-c, #answer-d, #userScore {
    visibility: hidden;
}

#leaderBoards { position: absolute;
    top: 1%;
}

#leaderBoards {
    left: 1%
}

#done {
    padding-right: 35%;
}

#highscore-container {
    list-style: none;
}
